.App {
  min-height: 100vh;
}
body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}